<div class="flex flex-col items-center gap-2">
  <nav class="flex flex-row justify-between w-full items-center mb-12 p-2">
    <div class="flex flex-row items-center gap-2 justify-center flex-grow">
      <h1 class="text-5xl">Todo List</h1>
      <div class="badge badge-outline">
        <span>{{ todoService.completedTasksNumber() }}</span> /
        <span>{{ todoService.totalTasks() }}</span>
      </div>
    </div>
    <div class="ml-auto">
      <app-theme-selector></app-theme-selector>
    </div>
  </nav>

  <div class="flex flex-col gap-2 lg:w-1/2 w-full p-2 lg:p-0">
    <div class="flex flex-row">
      <input
        class="input input-bordered w-2/3"
        type="text"
        [(ngModel)]="newTodo"
        name="newTodo"
        placeholder="Add a new todo"
      />
      <button class="btn btn-secondary w-1/3" type="button" (click)="addTodo()">
        <i class="fa-solid fa-plus"></i> Add Todo
      </button>
    </div>

    <div
      *ngFor="let todo of this.todoService.pendingTasks()"
      class="flex flex-col gap-2"
    >
      <app-todo [todo]="todo"></app-todo>
    </div>

    <ng-container *ngIf="this.todoService.completedTasks().length">
      <div class="divider mb-[1.8em]">
        <button class="btn" (click)="showCompleted()">
          {{ this.showCompletedTasks ? "Hide" : "Show" }} completed tasks
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="showCompletedTasks">
      <div
        *ngFor="let todo of this.todoService.completedTasks()"
        class="flex flex-col gap-2"
      >
        <app-todo [todo]="todo"></app-todo>
      </div>
    </ng-container>
  </div>
</div>
